#visualization-panel {
	width: 850px;
	height: 500px;
	/*overflow: hidden;*/
	overflow-y:scroll;
}

/* Vertical tab */
body,html,.row-offcanvas {
  height:100%;
}

body {
  padding-top: 0px;
}

#sidebar {
  width: inherit;
  min-width: 110px;
  max-width: 110px;
  background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  height:100%;
  overflow:auto;
  padding: 20px;
}

.hidden {
  display: none;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */

.nav-stacked {
	padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 110px);
  }
    
  .row-offcanvas-left
  {
    left: -110px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*progress circle*/

.circleStatusProgress {
  position: relative;
  display: inline-block;
}
.circleStatusProgress .levelstatus {
  display: block;
  width: 150px;
  height: 150px;
  position: absolute;
  left: -10px;
  top: 30px;
  /*background-color: #369;*/
  border-radius: 50%;
}
.circleStatusProgress .label {
  position: absolute;
  background-color: #d95f49;
  color: #fff;
  font: 13px/16px Arial, sans-serif;
  margin-top: -10px;
  padding: 4px 7px 4px 5px;
  border-radius: 2px;
  white-space: nowrap;
}
/*.circleStatusProgress .label::after {
  content: '\2600';
  color: #fff;
  background-color: #d95f49;
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  line-height: 24px;
  width: 24px;
  height: 24px;
  margin-right: -12px;
  margin-top: -12px;
  text-align: center;
  border-radius: 50%;
}
*/
.circleQuestProgress {
  position: relative;
  display: inline-block;
  margin: auto;
}
.circleQuestProgress .queststatus {
  display: block;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 20px;
  top: 15px;
  /*background-color: #369;*/
  border-radius: 50%;
}
.circleQuestProgress .label {
  position: absolute;
  background-color: #d95f49;
  color: #fff;
  font: 11px/16px Arial, sans-serif;
  margin-top: -10px;
  padding: 0 12px 0 4px;
  border-radius: 2px;
  white-space: nowrap;
}
.circleQuestProgress .label::after {
  content: '\2713';
  color: #fff;
  background-color: #009900;
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  line-height: 24px;
  width: 24px;
  height: 24px;
  margin-right: -12px;
  margin-top: -12px;
  text-align: center;
  border-radius: 50%;
}


/* Icon Rank Trophy */
.icon-size {
font-size:40px;
 }

/* Spinner */

#modalspinner
{
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}
.center
{
    z-index: 1000;
    margin: 150px auto;
    padding: 10px;
    width: 130px;
}
