
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Visualization</title>

    <!-- Bootstrap core CSS -->
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/57683747/visualization/css/font-awesome.css">
<link href="https://dl.dropboxusercontent.com/u/57683747/visualization/css/vis.css" rel="stylesheet"> 

  </head>

  <body>
<div id="container-text">
<h3>
	You are not authenticated, try to login using Open ID Learning Layers.
</h3>
</div>
<div class="row-offcanvas row-offcanvas-left" id="vis-container">
	<div id="sidebar" class="sidebar-offcanvas">
	  <div class="col-md-12" >
	    <ul id="vistabs" class="nav nav-pills nav-stacked">
			<li class="active"><a data-toggle="tab" href="#vishome" class="text-center" title="Home"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
			<li><a data-toggle="tab" href="#visbadge" class="text-center" title="Badge"><i class="fa fa-shield fa-2x" aria-hidden="true"></i></a></li>
			<li><a data-toggle="tab" href="#visachievement" class="text-center" title="Achievement"><i class="fa fa-trophy fa-2x" aria-hidden="true"></i></a></li>
			<li><a data-toggle="tab" href="#visquest" class="text-center" title="Quest"><i class="fa fa-road fa-2x" aria-hidden="true"></i></a></li>
			<li><a data-toggle="tab" href="#vislocalleaderboard" class="text-center" title="Local leaderboard"><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i></a></li>
			<li><a data-toggle="tab" href="#visgloballeaderboard" class="text-center" title="Global leaderboard"><i class="fa fa-globe" aria-hidden="true"></i><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i></a></li>
			<li><a data-toggle="tab" href="#vistriggeraction" class="text-center"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a></li>
	    </ul>
	  </div>
	</div>
	<div id="main" class="tab-content">
		<div class="col-md-12">
      	  <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
      </div>
        <!-- HOME -->
        <div class="tab-pane active" id="vishome">

          	
			<script id="memberStatusTemplate" type="text/template">
				<h3>Hi <b><%= userName%>!</b></h3>
				<br><br>
				 <div class="row">
		           <div class="col-sm-4 text-center">
		                  <h3>Point</h3>
		                  <span class="fa-stack fa-3x text-info">
		                      <i class="fa fa-calendar-o fa-stack-2x text-info"></i>
		                        <span class="fa fa-stack-1x">
		                            <span style="font-family:arial;font-size:30px; margin-top:10px; display:block;">
		                                <%= memberPoint%>
		                            </span>
		                      </span>
		                  </span>
		                </div>
		            <div class="col-sm-4 text-center">
		                  <h2>Level</h2>
		              <div class="circleStatusProgress" id="memberStatusProgress">
		              <h3 class="levelstatus text-info">
		              <%= memberLevel%>
		              </h3>
		                    <!-- <img src="https://robohash.org/roboavatar.png" alt="avatar" class="avatar"> -->
		                    <span class="label">
		                       <%= progress%> %
		                    </span>
		            </div>
		              
		          </div>
                 <div class="col-sm-4 text-center">
                  
                  <h3>Rank</h3>
                    <span class="fa-stack fa-3x text-info">
                      <i class="fa fa-trophy fa-stack-2x"></i>
                        <span class="fa fa-stack-1x">
                            <span style="font-family:arial;font-size:30px; margin-top:-15px; display:block; color:white;">
                                <%= rank%>
                            </span>
                      </span>
                  </span>
                </div>
              </div>
			</script>
			
          	<div class="container" id="user-main-status">
			</div>


        </div>
        <!-- END HOME -->
        <!-- BADGE -->
		<div class="tab-pane" id="visbadge">
			<script id="badgeTemplate" type="text/template">
				<div class="col-xs-6 col-sm-3 placeholder">
	              	<img src="<%= getBadgeImage(id) %>" width="100" height="100" class="img-responsive img-circle" alt="Generic placeholder thumbnail">
	              <!-- </a> -->
	              <h4><%= name%></h4>
	              <span class="text-muted"><%= description%></span>
	           </div>
			</script>

            <h3 class="page-header">Your Badges</h3>
			<div class="row placeholders" id="badge-row-container">
				
				<div class="col-xs-6 col-sm-3 placeholder">
				  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
				  <h4>Label</h4>
				  <span class="text-muted">Something else</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
				  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
				  <h4>Label</h4>
				  <span class="text-muted">Something else</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
				  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
				  <h4>Label</h4>
				  <span class="text-muted">Something else</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
				  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
				  <h4>Label</h4>
				  <span class="text-muted">Something else</span>
				</div>



          </div>

        	</div>
        <!-- END BADGE -->
        <!-- ACHIEVEMENT -->
		<div class="tab-pane" id="visachievement">

            <h3 class="page-header">Your Achievements</h3>
	        <script id="achievementTemplate" type="text/template">
	        <div class="panel panel-default">
		        <div class="panel-heading">
	                <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion" href="#<%= id%>"><%= name%></a>
	                </h4>
	            </div>
	            <div id="<%= id%>" class="panel-collapse collapse">
	                <div class="panel-body">
	                	<div class="container-fluid">
	                		<div class="row">
	                			<div class="col-md-6">
	                				<label>
	                					Description
	                				</label>
				                    <p><%= description%></p>
	                				<label>
	                					Point value
	                				</label>
				                    <p><%= pointValue%></p>
			                    </div>

	                			<div class="col-md-6">
	                				<label>
	                					Achievement
	                				</label>
			                    	<img src="<%= getBadgeImage(badgeId) %>" style="display: block;max-width:200px;max-height:200px;width: auto;
			                    	height: auto;"/>
			                    </div>
		                    </div>
	                    </div>
	                </div>
	            </div>
	            </div>
	        </script>
	        <br>

	        <div class="panel-group achievement-row-container" id="accordion" >
	        </div>
		</div>
        <!-- END ACHIEVEMENT -->
        <!-- QUEST -->
		<div class="tab-pane" id="visquest">
            <h3 class="page-header">Your Quests</h3>
			<script id="questCompletedTemplate" type="text/template">
				<div class="panel panel-default" id="<%= id%>">
		        	<div class="panel-heading"><%= name%></div>
					<div class="panel-body">
						<p class="text-center"><%= description%></p>
						<p class="text-center"><%= achievementId%></p>
					</div>
				</div>
			</script>
			<script id="questRevealedTemplate" type="text/template">
	        	<div class="panel panel-default" id="<%= id%>">
			        <div class="panel-heading"><%= name%></div>
					<div class="panel-body">
						<p class="text-center"><%= description%></p>
						<p class="text-center"><%= achievementId%></p>
					</div>
				</div>
			</script>
			<script id="questProgressTemplate" type="text/template">
				<div id="progress-container">
					<div class="row">
						<% for(var i = 0; i < actionArray.length; i++) { %>
						<div class="col-xs-6 col-sm-3 placeholder">
						 	<div class="circleQuestProgress" id="<%= actionArray[i].action %>">
								<h4 class="queststatus <% if(actionArray[i].isCompleted){ %> 
					           		text-info
					           		<% } else { %>
					           		
					           		<% } %>">
								 <b><%= actionArray[i].times %>/<%= actionArray[i].maxTimes %></b>
								</h4>
					          	<!-- <img src="https://robohash.org/roboavatar.png" alt="avatar" class="avatar"> -->
		<!-- 					        <span class="label">
							           <%= parseInt(100 * (actionArray[i].times / actionArray[i].maxTimes)) %> %
							        </span> -->
							         <span class="label">
							           <!-- <%= actionArray[i].times %>/<%= actionArray[i].maxTimes %>  -->
							        </span> 

					           	
							</div>
							<h4><%= actionArray[i].action %> </h4>
							
						</div>
						<% } %>
						
					      
						</div>

					<div class="row">
					<div class="progress">
					      
							  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress %>%;">
							    <%= progress %>%
							  </div>
						</div>
					</div>
				</div>
			</script>
			<br>
        	<div class="container-fluid">	
            	<div class="row" id="quest-row-container">
        			<div class="col-md-6">
        				<div class="panel-group">
	        				<div class="panel panel-default" >
							  <div class="panel-heading">
							  	<h4 class="panel-title">
				                    <a data-toggle="collapse" href="#quest-revealed-collapse" aria-expanded="true">Revealed Quests</a>
				                </h4>
							  </div>

	            				<div id="quest-revealed-collapse" class="panel-collapse collapse in">
							  		<div class="panel-body" id="quest-revealed">Panel Content</div>
							  	</div>
							</div>
						</div>
                    </div>

        			<div class="col-md-6">
        				<div class="panel-group" id="accordion">
	        				<div class="panel panel-default" >
							  <div class="panel-heading">
							  	<h4 class="panel-title">
				                    <a data-toggle="collapse" href="#quest-completed-collapse">Completed Quest</a>
				                </h4>
							  </div>
	            				<div id="quest-completed-collapse" class="panel-collapse collapse in">
							 		<div class="panel-body" id="quest-completed">Panel Content</div>
							 	</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
		</div>
        <!-- END QUEST -->
        <!-- LOCAL LEADERBOARD -->
		<div class="tab-pane" id="vislocalleaderboard">
			<table id="list_local_leaderboard" class="table table-condensed table-striped" data-toggle="bootgrid">
			    <thead>
			        <tr>
			            <th data-column-id="rank" data-order="asc" data-type="numeric">#</th>
			            <th data-column-id="memberId" data-identifier="true" data-type="string">Member Name</th>
			           	<th data-column-id="pointValue" data-type="numeric">Point</th>
			        </tr>
			    </thead>
			</table>
		</div>
        <!-- END LOCAL LEADERBOARD -->
        <!-- GLOBAL LEADERBOARD -->
		<div class="tab-pane" id="visgloballeaderboard">
			<table id="list_global_leaderboard" class="table table-condensed table-striped" data-toggle="bootgrid">
			    <thead>
			        <tr>
			            <th data-column-id="rank" data-order="asc" data-type="numeric">#</th>
			            <th data-column-id="memberId" data-identifier="true" data-type="string">Member Name</th>
			           	<th data-column-id="pointValue" data-type="numeric">Point</th>
			        </tr>
			    </thead>
			</table>
		</div>
        <!-- END GLOBAL LEADERBOARD -->
        <!-- TRIGGER ACTION -->
		<div class="tab-pane" id="vistriggeraction">
			<div class="input-group">
      			<input type="text" class="form-control" placeholder="Action name" id="triggeraction">
				<span class="input-group-btn">
      				<button class="btn btn-secondary" type="button" id="triggeraction" >Trigger!</button>		
    			</span>
      
			</div> 
		</div>
        <!-- END TRIGGER ACTION -->
      </div>
</div><!--/row-offcanvas -->
<div id="modalspinner" style="display: none">
    <div class="center">
        <img alt="" src="https://dl.dropboxusercontent.com/u/57683747/visualization/img/loading.svg" />
    </div>
</div> 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.fa.min.js"></script>

  <script type="text/javascript" src="https://dl.dropboxusercontent.com/u/57683747/visualization/js/iwc.js"></script> 
  <script type="text/javascript" src="https://dl.dropboxusercontent.com/u/57683747/visualization/js/oidc-widget.js"></script> 
  <script type="text/javascript" src="https://dl.dropboxusercontent.com/u/57683747/visualization/js/las2peerWidgetLibrary.js"></script> 
  <script type="text/javascript" src="https://dl.dropboxusercontent.com/u/57683747/visualization/js/circle-progress.js"></script> 
<!--   <script type="text/javascript" src="https://dl.dropboxusercontent.com/u/57683747/visualization/js/client.js"></script>  -->
    <script type="text/javascript" src="https://dl.dropboxusercontent.com/u/57683747/visualization/js/gamification-framework.js"></script> 
    <script type="text/javascript" src="https://dl.dropboxusercontent.com/u/57683747/visualization/js/vis.js"></script> 

 </body>
</html>
